<!-- views/partials/body-div_opening.ejs -->



<body class="h-100 w-100 text-center">
<div class="h-100 w-100 container">

<div class="row pt-3 pb-5">
  <img src="images/logo.jpeg" class="img-fluid w-50 mx-auto" alt="La mia guida di Brescia">
</div>
