<!-- views/partials/footer.ejs -->

<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text footer-custom">Maddalena Carnaghi - La mia guida di Brescia</span><br>
    <span class="text footer-custom"><i class="pe-2 fas fa-mobile-screen"></i>+39 3477667008<i class="ps-4 pe-2 fas fa-at"></i>lamiaguidadibrescia@proton.me</span><br>
    <span class="text footer-custom">CF CRNMDL79B45F205I  P.IVA 04494850987</span>
    <span class="text footer-custom">Foto di Francesca Simoni</span>
  </div>
</footer>
