<!-- views/partials/header.ejs -->


<header>

<!-- Logo row -->
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10"><img src="images/logoSmallColored.png" class="img p-5" alt="La mia guida di Brescia"></div>
  <div class="col-sm-1"></div>
</div>

<!-- Title row -->
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10"><h1 class="homeTitle">La mia guida di Brescia</h1></div>
  <div class="col-sm-1"></div>
</div>


<!-- Navbar row -->


<div class="row">

    <nav class="navbar navbar-collapse navbar-transparent bg-transparent"> 


        <div class="col-1"></div>
        <div class="col-6">
              <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav rounded-4">                  
                  <% for (var page in structure.navbar) { %>
                    <li class="nav-item">
                      <% if (navlink == page) { %>
                        <a class="nav-link customActive" aria-current="page" href=<%- page %>><%- structure.navbar[page][lang] %></a>
                      <%} else { %>
                        <a class="nav-link" aria-current="page" href=<%- page %>><%- structure.navbar[page][lang] %></a>
                      <% } %>
                    </li>
                  <% } %>
                </ul>
              </div>
        </div>

        
    <div class="col-1">
        <a class="navbar-brand float-end" href="#"></a>
        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon float-end"></span>
        </button>
    </div>

        

    </nav>


</div>







</header>

<script>
function setLanguage(lang) {
  let myCookie = "language="+lang;
  console.log(myCookie);
  document.cookie = myCookie;
  location.reload();
  return false;
}
</script>
